.element{
    float: left;
    width: 33%;
    padding: 40px;
}


@media screen and (max-width: 900px){
    .element{
        width:50%
    }
}

@media screen and (max-width: 600px){
    .element{
        width:100%
    }
}

@media screen{
    #welcome-section{
        height:100%
    }
}

menu{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #cc0000;
    color: white;
    font-family: 'Exo 2', sans-serif;
    padding: 1em;
}
